        <style type="text/css">
        .layui-nav-child{padding:0;}
        .search-form .layui-input{height:30px !important;width:120px !important;}
        </style>
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black" style="line-height:20px;display:flex;align-items:center;justify-content:center;font-weight:bold;font-size:22px;font-family:'黑体';">系统管理后台</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                    <a href="javascript:;">{$admin.admin_name}</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="dialog('/admin2022.php/admin/password.html', '修改密码', ['500px', '300px'])">修改密码</a></dd>
                        <dd><a href="{:url('/index/logout')}">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree">
                    <ul class="layui-nav layui-nav-tree">
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='Villas'}layui-this{/if}" href="/admin2022.php/villas/lists.html">
                                <i class="layui-icon layui-icon-home" style="margin-right:4px"></i>别墅管理
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='VillasTag'}layui-this{/if}" href="/admin2022.php/VillasTag/lists.html">
                                <i class="layui-icon layui-icon-note" style="margin-right:4px"></i>别墅标签
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='Trips'}layui-this{/if}" href="/admin2022.php/trips/lists.html">
                                <i class="layui-icon layui-icon-user" style="margin-right:4px"></i>旅行文章
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='Chip'}layui-this{/if}" href="/admin2022.php/chip/lists.html?wheremap_chip_name=关于我们">
                                <i class="layui-icon layui-icon-user" style="margin-right:4px"></i>关于我们
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='Contact'}layui-this{/if}" href="/admin2022.php/contact/lists.html">
                                <i class="layui-icon layui-icon-form" style="margin-right:4px"></i>留言管理
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='Banner'}layui-this{/if}" href="/admin2022.php/banner/lists.html">
                                <i class="layui-icon layui-icon-picture" style="margin-right:4px"></i>轮播图片
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='Config'}layui-this{/if}" href="/admin2022.php/config/lists.html">
                                <i class="layui-icon layui-icon-set-sm" style="margin-right:4px"></i>系统设置
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a class="{if $Request.controller=='Clubs'}layui-this{/if}" href="/admin2022.php/clubs/lists.html">
                                <i class="layui-icon layui-icon-user" style="margin-right:4px"></i>俱乐部管理
                            </a>
                        </li>
                    <ul>
                    <!--<li class="layui-nav-item layui-nav-itemed">-->
                    <!--    <a class="" href="javascript:;">别墅管理</a>-->
                    <!--    <dl class="layui-nav-child">-->
                    <!--        <dd class="{if $Request.controller=='Villas'}layui-this{/if}"><a href="{:url('/villas/lists')}">别墅管理</a></dd>-->
                    <!--        <dd class="{if $Request.controller=='VillasTag'}layui-this{/if}"><a href="{:url('/VillasTag/lists')}">标签设置</a></dd>-->
                    <!--    </dl>-->
                    <!--</li>-->
                    <!--<li class="layui-nav-item layui-nav-itemed">-->
                    <!--    <a class="" href="javascript:;">俱乐部管理</a>-->
                    <!--    <dl class="layui-nav-child">-->
                    <!--        <dd class="{if $Request.controller=='Clubs'}layui-this{/if}"><a href="{:url('/clubs/lists')}">俱乐部管理</a></dd>-->
                    <!--    </dl>-->
                    <!--</li>-->
                    <!--<li class="layui-nav-item layui-nav-itemed">-->
                    <!--    <a class="" href="javascript:;">系统设置</a>-->
                    <!--    <dl class="layui-nav-child">-->
                    <!--        <dd class="{if $Request.controller=='Banner'}layui-this{/if}"><a href="{:url('/banner/lists')}">轮播图片</a></dd>-->
                    <!--        <dd class="{if $Request.controller=='Config'}layui-this{/if}"><a href="{:url('/config/lists')}">系统设置</a></dd>-->
                    <!--    </dl>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>