<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>__ADMIN_PAGE_TITLE__</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script src="/static/jquery-1.7.1.min.js" charset="utf-8"></script>
    <script src="/static/admin.js?{:time()}" charset="utf-8"></script>
    <style>
    @media screen and (max-width: 768px) {
        .layui-layout-admin .layui-layout-left,
        .layui-layout-admin .layui-body,
        .layui-layout-admin .layui-footer {
            left: 0;
        }
        .layui-layout-admin .layui-side {
            left: -300px;
        }
    }
    html{background-color:#f2f2f2;}
    </style>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        {include file="/inc-left" /}
        <div class="layui-body">
            <div style="padding:15px;">
                <div class="layui-card">
                    <div class="layui-card-body">
                        {if $top_btn != '' || $search_html != ''}
                        <div style="margin-bottom:10px;display:flex;justify-content:space-between;align-content:center;">
                            <div>{$top_btn|raw}</div>
                            {if $search_html != ''}
                            <form class="layui-form search-form" action="/admin2022.php/{$Request.controller}/lists" method="post" autocomplete="off">
                                {$search_html|raw}
                                <div class="layui-inline"><input type="submit" value="搜索" class="layui-btn layui-btn-normal layui-btn-sm"></div>
                            </form>
                            {/if}
                        </div>
                        {/if}
                        <table class="layui-hide" id="lists" lay-filter="lists-operate"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    let winH = $(window).height();
    layui.config({base: '/static/layui/'}).extend({treetable: 'treetable-lay/treetable'}).use(['layer', 'table', 'treetable', 'form'], function() {
        var layer     = layui.layer;
        var table     = layui.table;
        var form      = layui.form;
        var treetable = layui.treetable;
        var renderTable = function () {
            layer.load(2);
            treetable.render({
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'category_id',
                treePidName: 'category_pid',
                treeDefaultClose: true,
                treeLinkage: false,
                elem: '#lists',
                url: '/admin2022.php/{$Request.controller}/listsDo',
                page: false,
                cols: [{$column|raw}],
                done: function (res, curr, count) {
                    layer.closeAll('loading');
                    treetable.expandAll('#lists'); // 展开全部
                    // treetable.foldAll('#lists'); // 折叠全部
                }
            });
        };
        renderTable();
        table.on('tool(lists-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确认删除?', function(index){
                    $.post("/admin2022.php/{$Request.controller}/delDo.html", {pk: data.{$pk}}, function(resp){
                        if(resp.status == 1){
                            window.location.reload()
                            // obj.del();
                            layer.close(index);
                        } else {
                            layer.alert(resp.info)
                        }
                    },'json');
                });
            }
        });
        
        form.on('switch(switch_change)', function(data){
            $.ajax({
                type: 'POST',
                url: '/admin2022.php/{$Request.controller}/switch_change',
                data: { status: data.elem.checked, pk: data.elem.value },
                success: function(response) { },
                error: function(error) { }
            });
        });
    });
    </script>
</body>
</html>