<!doctype html>
<html lang="en">
<head>
    <title>{$config.6.config_value}</title>
    <meta name="description" content="{$config.7.config_value}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/portals/eh2/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/portals/rebrand/favicon32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/portals/rebrand/favicon16x16.png" />
    <link rel="manifest" href="/images/portals/eh2/icons/manifest.json" />
    <link rel="mask-icon" href="/images/portals/eh2/icons/safari-pinned-tab.svg" color="#37587d" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index,follow" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Lato:300,400|Fira+Sans:300,400" rel="stylesheet" data-async="true" />
    <link href="https://fonts.googleapis.com/css?family=Gilda+Display:300,400" rel="stylesheet" data-async="true" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet" data-async="true" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/style.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/style1.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" data-async="true" />
</head>
<body id="events">
    <div class="container">
        {include file="/inc-header" /}
        <main>
            <article>
                <div>
                    <section class="hero">
                        <div class="wrapper">
                            <div data-jarallax-element="200">
                                <div class="owl-carousel slideshow">
                                    <div class="item">
                                        <img src="/images/portals/eh3/events/events-main-header.jpg" alt="Elite Havens" class="img-cover lazyload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="title">
                                <h1>Мероприятия</h1>
                                <small>Идеальная обстановка для вашего идеального дня</small>
                            </div>
                        </div>
                    </section>
                </div>
                <section class="elite">
                    <div class="wrapper">
                        <div class="group">
                            <div class="half">
                                <div class="elite-content">
                                    <h3>Спланируйте ваше следующее необычное впечатление в элитном убежище, тщательно подобранном для вас</h3>
                                    <p>Позвольте нам избавить вас от стресса при организации мероприятия в 5 простых шагов, связав вас с идеальным местом, лучшими партнерами по планированию в бизнесе и вниманием к деталям, которого вы ожидаете от Elite Havens.</p><br />
                                    <p>Мы позаботимся обо всех приготовлениях. <br />Просто расслабьтесь и наслаждайтесь шоу.</p>
                                </div>
                            </div>
                            <div class="half">
                                <img class="lazyload" data-src="/images/portals/eh3/events/experience.jpg" alt="Elite Havens" />
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="elitehavens-difference" id="why">
                    <div class="wrapper">
                        <h2>Почему elite haven?</h2>
                        <p>Elite Havens является надежным партнером более двух десятилетий. У нас самый большой выбор объектов недвижимости в лучших местах Азии. Мы можем организовать большие и малые мероприятия для любого бюджета, от свадьбы до йога-ретрита, от праздника до корпоративного мероприятия.</p>
                        <p>&nbsp;</p>
                        <p>Выберите нас для: </p>
                        <div class="group">
                            <div class="half">
                                <h5>Индивидуальные мероприятия — не скучные, шаблонные собрания</h5>
                            </div>
                            <div class="half">
                                <h5>Access to the best planners and suppliers in the market</h5>
                            </div>
                            <div class="half">
                                <h5>Properties that are exclusive, unique, private, and for your personal use </h5>
                            </div>
                            <div class="half">
                                <h5>Easy accommodation for the overflow of guests in our nearby villas</h5>
                            </div>
                            <div class="half">
                                <h5>Ease of booking and organising events </h5>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="hero">
                    <div class="wrapper">
                        <div data-jarallax-element="200">
                            <div class="owl-carousel slideshow">
                                <div class="item">
                                    <img src="/images/portals/eh3/events/why-elite-havens.jpg" alt="Elite Havens" class="img-cover lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elitehavens-difference" id="how">
                    <div class="wrapper">
                        <h2>Как это работает?</h2>
                        <div class="group">
                            <div class="half">
                                <h5><span class="circle"><span>1</span></span>
                                </h5>
                                <p>Определите свой предпочтительный остров и изучите наш диапазон вилл для мероприятий, чтобы получить представление. </p>
                            </div>
                            <div class="half">
                                <h5><span class="circle"><span>2</span></span>
                                </h5>
                                <p>Свяжитесь с нашим специалистом по мероприятиям, который поможет вам найти идеальную виллу, которая подходит вашим потребностям. </p>
                            </div>
                            <div class="half">
                                <h5><span class="circle"><span>3</span></span>
                                </h5>
                                <p>Наш специалист по мероприятиям поможет вам забронировать виллу и затем подключит вас к лучшим планировщикам мероприятий на острове. </p>
                            </div>
                            <div class="half">
                                <h5><span class="circle"><span>4</span></span>
                                </h5>
                                <p>Вы работаете непосредственно с планировщиками мероприятий, которые возьмут на себя все организационные вопросы, так что вам не придется беспокоиться ни о чем. </p>
                            </div>
                            <div class="half">
                                <h5><span class="circle"><span>5</span></span>
                                </h5>
                                <p>Отправьте приглашения и приезжайте в виллу в ваш выбранный день мероприятия!</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="hero">
                    <div class="wrapper">
                        <div data-jarallax-element="200">
                            <div class="owl-carousel slideshow">
                                <div class="item">
                                    <img src="/images/portals/eh3/events/packages.jpg" alt="Elite Havens" class="img-cover lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="delights" id="pkg" style="display:none">
                    <div class="wrapper">
                        <div class="content">
                            <h2>ПАКЕТЫ</h2>
                        </div>
                    </div>
                    <div class="slideshow1">
                        <div class="slide-wrap">
                            <div class="owl">
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        {include file="/inc-footer" /}
    </div>
    <div class="top-arrow">Наверх</div>
    <script src='/js/modernizr.3-5-0.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/jquery-1.12.4.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/jquery-ui.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/lazysizes.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.bgset.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.respimg.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.unveilhooks.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/owl.carousel.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/instafeed.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/sticky-kit.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/video.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/site.js?v={$resource_version}' type='text/javascript'></script>
</body>
</html>