<div class="bottom-container">
    <footer>
        <div class="wrapper">
            <div class="row">
                <div class="column">
                    <h3>Ссылки</h3>
                    <ul>
                        <li><a href="/villas/lists.html">Виллы</a></li>
                        <li><a href="/events/">Мероприятия</a></li>
                        <li><a href="/promos/lists.html">Акции</a></li>
                        <li><a href="/index/about.html">О нас</a></li>
                        <li><a href="/index/contact.html">Связаться с нами</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Запросы на бронирование</h3>
                    <ul class="phone-numbers">
                        <li><span>Телефон</span><a href="tel:{$config.3.config_value}">{$config.3.config_value}</a></li>
                        <li><span>Телефон</span><a href="tel:{$config.4.config_value}">{$config.4.config_value}</a></li>
                        <li><span>Email</span><a href="mailto:{$config.5.config_value}">{$config.5.config_value}</a></li>
                        <li><span>Адрес</span><a href="javascript:;">{$config.2.config_value}</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Присоединяйтесь к нам</h3>
                    <ul class="socials" style="margin-bottom: 60px;">
                        <li><a href="{$config.20.config_value}" class="socmed fb" target="_blank" data-title="Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="{$config.21.config_value}" class="socmed in" target="_blank" data-title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="{$config.22.config_value}" class="socmed yt" target="_blank" data-title="Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="copyright">
                        <div class="copy-row">
                            <div class="copy-col">
                                <p>Copyright © 2024 WARM Plus.</p>
                            </div>
                            <div class="copy-col">
                                <p>Все права защищены.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>