<header>
    <div class="menu-container">
        <div class="search2"><a onclick="$('.search').css('display','block')" style="cursor:pointer">&nbsp;&nbsp;</a></div>
        <div class="logo navLi">
            <a href="/"><img src="/storage/{$config.8.config_value}"></a>
        </div>
        <div class="menu-overlay"></div>
        <nav class="menu">
            <div class="mobile-menu-head">
                <li class="menuCLick2"><a href="#"><i class="fas fa-search"></i></a></li>
                <div class="logoMobile"><a href="/"><img src="/storage/{$config.8.config_value}"></a></div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
                <div class="wrap">
                    <div class="go-back"><i class="fas fa-arrow-left"></i></div>
                    <div class="mobileShortlist"><a href="/villas/lists.html?type=shortlist"><i class="far fa-heart"></i>Мой избранный</a></div>
                </div>
            </div>
            <ul class="menu-main">
                <div class="col">
                    <li><a href="/villas/lists.html">Виллы <span class="mobile-icon"><i class="fa fa-angle-down"></i></span></a></li>
                    <li><a href="/trips/lists.html">Путешествия <span class="mobile-icon"><i class="fa fa-angle-down"></i></span></a></li>
                </div>
                <div class="col">
                    <li><a href="/index/contact.html">Связаться с нами<span class="mobile-icon"><i class="fa fa-angle-down"></i></span></a></li>
                    <li><a href="/promos/lists.html">Акции<span class="mobile-icon"><i class="fa fa-angle-down"></i></span></a></li>
                    <li><a href="/villas/lists.html?type=shortlist"><i class="far fa-heart"></i></a></li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="header-item item-right">
        <li class="menuCLick3"><a href="#"><i class="fas fa-search"></i></a></li>
        <div class="mobile-menu-trigger"> <i class="fas fa-bars"></i></div>
    </div>
</header>
<div class="dropdown1">
    <div class="dropdown1-wrap">
        <div class="dropdown-content">
            <button class="close" aria-readonly="true"><i class="fas fa-times"></i></button>
            <form id="frmFilter5" action="/villas/lists.html" method="get">
                <div id="menu_divArea"></div>
                <label for="destination">Название виллы</label>
                <input type="text" placeholder="Введите название" value="" name="villas_name" class="ui-autocomplete-input u-search-location" autocomplete="off" />
                <label for="destination">Расположение</label>
                <input type="text" placeholder="Введите ваше расположение" value="Phuket, Thailand" readonly="" class="ui-autocomplete-input u-search-location" autocomplete="off" />
                <div class="row">
                    <div class="form-item">
                        <label for="numberofguest">Количество спален</label>
                        <i class="fa fa-minus fa-stack-1x fa-inverse" id="imgBeds" onclick="bedrooms_minus()"></i>
                        <input name="villas_bedrooms_num" type="text" id="numberofguest" value="" />
                        <i class="fa fa-plus fa-stack-1x fa-inverse" onclick="bedrooms_plus()"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item">
                        <label for="numberofguest">Дата заезда</label>
                        <input type="text" name="arrival_date" id="quick_txtArrivalDate" class="txtArrivalDate" autocomplete="off" value="" readonly />
                    </div>
                    <div class="form-item">
                        <label for="numberofguest">Дата выезда</label>
                        <input type="text" name="depart_date" id="quick_txtDepartDate" class="txtDepartDate" autocomplete="off" value="" readonly />
                    </div>
                </div>
                <div class="form-item">
                    <button type="submit" onclick="$('#isSubmit').val('1');$('#frmFilter5').submit()">Найти вашу идеальную виллу</button>
                </div>
            </form>
            <!--<form action="/villas/lists.html" method="get" id="frmSearch">-->
            <!--    <div class="form-item">-->
            <!--        <label for="txtSearch">Or search by property name</label>-->
            <!--        <input type="text" name="txtSearch" id="txtSearch" placeholder="Type name and press enter" class="ui-autocomplete-input" autocomplete="off" />-->
            <!--    </div>-->
            <!--    <input type="hidden" id="txtMobileVersion" value="False" />-->
            <!--    <input name="menu$destination" type="hidden" id="menu_destination" />-->
            <!--    <div id="divtxtSearch"></div>-->
            <!--</form>-->
        </div>
    </div>
</div>
<style>
.u-search-location {
    border: 0.8px solid #231f20;
    background-color: transparent !important;
    border-radius: 40.4px;
    color: #231f20;
    font-family: 'Majorant-Light';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    height: auto;
    letter-spacing: 0.19px;
    line-height: 15px;
    mix-blend-mode: normal;
    opacity: 1;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    padding: 14px 10px 14px 20px;
    overflow: auto;
    max-height: 43.5px;
    overflow: hidden;
}
</style>
<script>
function bedrooms_plus() {
    let num = parseInt($('#numberofguest').val()) || 0
    if (num > 20) {
        return false
    } else {
        $('#numberofguest').val(num+1)
    }
}
function bedrooms_minus() {
    let num = parseInt($('#numberofguest').val()) || 0
    if (num <= 0) {
        return false
    } else {
        $('#numberofguest').val(num-1)
    }
}
</script>