<!doctype html>
<html lang="en">
<head>
    <title>{$config.6.config_value}</title>
    <meta name="description" content="{$config.7.config_value}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/portals/eh2/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/portals/rebrand/favicon32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/portals/rebrand/favicon16x16.png" />
    <link rel="manifest" href="/images/portals/eh2/icons/manifest.json" />
    <link rel="mask-icon" href="/images/portals/eh2/icons/safari-pinned-tab.svg" color="#37587d" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index,follow" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Lato:300,400|Fira+Sans:300,400" rel="stylesheet" data-async="true" />
    <link href="https://fonts.googleapis.com/css?family=Gilda+Display:300,400" rel="stylesheet" data-async="true" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet" data-async="true" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/style.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/style1.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" data-async="true" />
</head>
<body>
    <div class="container">
        {include file="/inc-header" /}
        <main>
            <article>
                <section class="detail">
                    <div>
                        <form name="frmPromo2" method="post" action="./?file=" id="frmPromo2">

                            <div id="divpromo"></div>
                            <input name="txthidden" type="hidden" id="txthidden"
                                value="/resources/promos/html/images/header/promo-image.jpg" />
                            <div id="divContent">

                                <head>
                                    <title>Villas on Promotion - Elite Havens Luxury Villa Rentals and Management
                                    </title>
                                    <script type='text/javascript'>
                                        var clickTag = '';
                                    </script>
                                </head>

                                <body id="promopage">
                                    <main>
                                        <article>
                                            <section class="hero">
                                                <div class="wrapper">
                                                    <div data-jarallax-element="200">
                                                        <div class="owl-carousel slideshow">
                                                            <div class="item">
                                                                <img src="/resources/promos/html/images/header/promo-image.jpg"
                                                                    alt="Elite Havens" class="img-cover lazyload" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="wrapper">
                                                    <div class="title">
                                                        <h1>Акции</h1>
                                                        <small>Экономьте больше и получайте выгоду от наших последних предложений</small>
                                                    </div>
                                                </div>
                                            </section>
                                        </article>

                                        <!--<section class="promos sticky" data-offset="84">-->
                                        <!--    <div class="wrapper">-->
                                        <!--        <h3>Offers by location</h3>-->
                                        <!--        <div class="row">-->
                                        <!--            <div class="col">-->
                                        <!--                <div class="filter">-->
                                        <!--                    <div class="group">-->
                                        <!--                        <select name="location">-->
                                        <!--                            <option value="all-location">All Locations</option>-->
                                        <!--                            {volist name="villas_city" id="vo"}-->
                                        <!--                            <option value="{$vo}">{$vo}</option>-->
                                        <!--                            {/volist}-->
                                        <!--                        </select>-->
                                        <!--                        <input type="radio" name="location" id="all-location" value="all-location"><label for="all-location">All Locations</label>-->
                                        <!--                        {volist name="villas_city" id="vo"}-->
                                        <!--                        <input type="radio" name="location" id="{$vo}"><label for="{$vo}">{$vo}</label>-->
                                        <!--                        {/volist}-->
                                        <!--                    </div>-->
                                        <!--                </div>-->
                                        <!--            </div>-->
                                        <!--        </div>-->
                                        <!--    </div>-->
                                        <!--</section>-->
                                        <section class="list">
                                            <div class="wrapper">
                                                <h2>Акции</h2>
                                                <div class="row">
                                                    {volist name="villas_list" id="vo"}
                                                    <div class="item" data-location="{$vo.villas_city}">
                                                        <a href="/villas/detail.html?villas_id={$vo.villas_id}">
                                                            <img data-src="{:img_thumb($vo['villas_cover'], 400, 268)}" alt="Experience the Christmas Magic" class="lazyload">
                                                        </a>
                                                        <h3>{$vo.villas_name}</h3>
                                                        <small class="location">{$vo.villas_city}</small>
                                                        <p><b>Сэкономьте до {$vo.rebate}%</b> при бронировании в ранний срок и проживании дольше.</p>
                                                        <a href="/villas/detail.html?villas_id={$vo.villas_id}" class="link">Посмотреть</a>
                                                    </div>
                                                    {/volist}
                                                </div>
                                            </div>
                                        </section>
                                    </main>
                                </body>
                            </div>
                        </form>
                    </div>
                </section>
            </article>
        </main>
        {include file="/inc-footer" /}
    </div>
    <div class="top-arrow">Наверх</div>
    <script src='/js/modernizr.3-5-0.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/jquery-1.12.4.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/jquery-ui.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/lazysizes.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.bgset.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.respimg.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.unveilhooks.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/owl.carousel.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/instafeed.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/sticky-kit.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/site.js?v={$resource_version}' type='text/javascript'></script>
</body>
</html>