<!doctype html>
<html lang="en">

<head>
    <title>{$config.6.config_value}</title>
    <meta name="description" content="{$config.7.config_value}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/portals/eh2/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/portals/rebrand/favicon32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/portals/rebrand/favicon16x16.png" />
    <link rel="manifest" href="/images/portals/eh2/icons/manifest.json" />
    <link rel="mask-icon" href="/images/portals/eh2/icons/safari-pinned-tab.svg" color="#37587d" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index,follow" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Lato:300,400|Fira+Sans:300,400" rel="stylesheet" data-async="true" />
    <link href="https://fonts.googleapis.com/css?family=Gilda+Display:300,400" rel="stylesheet" data-async="true" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet" data-async="true" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="/css/style.css?v=20241230111211" data-async="true" />
    <link rel="stylesheet" href="/css/style1.css?v={$resource_version}" data-async="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" data-async="true" />
    <style type="text/css" media="all">
        .detail-title {
            font-family: 'FS Siena', sans-serif;
            line-height: 33px;
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
            letter-spacing: .2em;
            text-align: center;
        }
        #vp #scrollavail {
            background-color: #ba2e2d !important;
            border-color: #ba2e2d !important;
        }
    </style>
    <link rel="stylesheet" href="/resources/simple-calendar.css?{$resource_version}" data-async="true" />
    <script src="/resources/simple-calendar.js?{$resource_version}" type="text/javascript"></script>
</head>

<body id="vp" class="villa">
    <div class="container">
        {include file="/inc-header" /}
        <main id="villainfo">
            <article>
                <section id="main" class="slideshow">
                    <div class="owl">
                        {volist name="detail.villas_gallery" id="vo"}
                        <div class="item">
                            <img src="/storage/{$vo.path}" data-src="/storage/{$vo.path}" alt="{$detail.villas_name}" class="lazyload">
                        </div>
                        {/volist}
                    </div>
                    <div class="wrapper"><a href="#" class="popup-trigger">Посмотреть галерею</a></div>
                    <div id="divsha" style="display:none">
                        <a target='_blank' href="/promos/Indonesia-promo.html" title="The Arsana Estate is  certified"><img id="imgSHA" src="" style="border-width:0px;display:none" /></a>
                    </div>
                </section>
                <section class="watcher sticky" data-offset="78">
                    <div class="wrapper">
                        <div class="watcher-toggle switcher" style="display:none" data-target=".watcher ul.scroll-to">Перейти</div>
                        <ul class="scroll-to">
                            <li><a href="#unique">Уникальные особенности</a></li>
                            <li><a href="#gallery">Галерея</a></li>
                            <li><a href="#location">Расположение</a></li>
                            <li><a href="#facts">Быстрые факты</a></li>
                            <li><a href="#layout">Схема расположения</a></li>
                            <!-- <li><a href="#rooms">The rooms</a></li> -->
                            <!--<li><a href="#dining">Dining</a></li>-->
                            <li><a href="#reviews">Отзывы</a></li>
                        </ul>
                    </div>
                </section>
                <section class="villa-main">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col" id="first">
                                <div class="like">
                                    <a href="javascript:setCookie('shortlist','{$detail.villas_id}',180)"><span class='far fa-heart' id="like{$detail.villas_id}~"></span> <span>Добавить в избранное</span></a>
                                </div>
                                <h1>{$detail.villas_name}</h1>

                                <div id="divNotAvailable">
                                    <p>Выбранная вами вилла больше недоступна для аренды, но у нас есть портфолио элитных вилл в различных местах Юго-Восточной Азии, чтобы вы могли выбрать. Кроме того, вы можете отправить нам <a href="/index/contact.html">запрос</a> и мы будем рады помочь вам найти идеальную виллу для вашего следующего отпуска.</p>
                                </div>

                                <div class="locreview">
                                    <div class="locations">
                                        <a href="/villas/lists.html?villas_city={$detail.villas_city}">{$detail.villas_city}</a>
                                    </div>
                                    <div class="reviewcnt watcher">
                                        <div class="scroll-to"><a href="#reviews">99 отзывов</a></div>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="bedrooms">
                                        <img src="https://oimages.elitehavens.com/images/portals/rebrand/bed.svg" alt="bedrooms"> <span>{$detail.villas_bedrooms_num} спальни</span>
                                    </div>
                                    <div class="bedrooms">
                                        <img src="https://oimages.elitehavens.com/images/portals/rebrand/adult.svg" alt="Sleeps"> <span>{$detail.villas_adults_num} Adults, {$detail.villas_children_num} Children</span>
                                    </div>
                                </div>

                                <div class="pricecontainer" style="position:relative!important">
                                </div>

                                <div class="content">
                                    <p>{$detail.villas_desc}</p>
                                </div>
                                <a href="#" class="showmore3 readmore switcher" data-target=".villa-main .content">Читать далее</a>

                                <div class="includes">
                                    <h3>Вилла включает</h3>
                                    <div class="tags">
                                        {volist name='detail.villas_hardware' id='vo'}
                                        <span>{$vo}</span>
                                        {/volist}
                                    </div>
                                </div>


                                <!-- INSERT UNIQUE -->
                                <div id="unique" class="villa-features">
                                    <h2>Уникальные особенности</h2>
                                    {if in_array('Rice Field or River View', $detail['villas_selling_point'])}
                                    <div>
                                        <img src="https://cimages.elitehavens.com/images/portals/rebrand/uf/River-paddy-views.png" />
                                        <span>Вид на рисовые поля или реку</span>
                                    </div>
                                    {/if}
                                    {if in_array('Gym Facilities', $detail['villas_selling_point'])}
                                    <div>
                                        <img src="https://cimages.elitehavens.com/images/portals/rebrand/uf/Gym.png" />
                                        <span>Услуги фитнеса</span>
                                    </div>
                                    {/if}
                                    {if in_array('Tennis Court', $detail['villas_selling_point'])}
                                    <div>
                                        <img src="https://cimages.elitehavens.com/images/portals/rebrand/uf/Tennis-court.png" />
                                        <span>Теннисный корт</span>
                                    </div>
                                    {/if}
                                    {if in_array('Cinema', $detail['villas_selling_point'])}
                                    <div>
                                        <img src="https://cimages.elitehavens.com/images/portals/rebrand/uf/Cinema.png" />
                                        <span>Кинотеатр</span>
                                    </div>
                                    {/if}
                                    {if in_array('Media/Games', $detail['villas_selling_point'])}
                                    <div>
                                        <img src="https://cimages.elitehavens.com/images/portals/rebrand/uf/Media-game-room.png" />
                                        <span>Медиа/Игры</span>
                                    </div>
                                    {/if}
                                    {if in_array('RoomBunk Room', $detail['villas_selling_point'])}
                                    <div>
                                        <img src="https://cimages.elitehavens.com/images/portals/rebrand/uf/Bunk-room.png" />
                                        <span>Бункерная комната</span>
                                    </div>
                                    {/if}
                                </div>

                                <!-- layout -->
                                <div class="villa-layout" id="gallery">
                                    <h2 class="detail-title">Галерея</h2>
                                    <div class="img">
                                        <!--<img src="/storage/{$detail.villas_blueprint}" data-src="/storage/{$detail.villas_blueprint}" alt="" class="lazyload">-->
                                        {volist name="detail.villas_gallery" id="vo"}
                                        <img src="{:img_thumb($vo['path'], 1200, 670)}" alt="{$detail.villas_name}" class="lazyload">
                                        {/volist}
                                    </div>
                                </div>

                                <!-- LOCATION -->
                                <div class="villa-location" id="location">
                                    <h2>Расположение</h2>
                                    <div id="map_div" class="map">
                                        <div class="map_click"><a onclick="javascript:displaymap()" class="btn">click here to view map</a></div>
                                    </div>
                                    <!--<p>{$detail.villas_location_desc}</p>-->
                                </div>

                                <!-- PLANNING -->
                                <div class="unique" id="plan">
                                    <div class="plan">&nbsp;</div>
                                    <div class="planfloat">
                                        {if $detail.villas_detail_banner_title == ''}
                                            <h2 style="height:100px"></h2>
                                        {else /}
                                            <h2>{$detail.villas_detail_banner_title}</h2>
                                        {/if}
                                        <div class="concierge"><p>{$detail.villas_detail_banner_desc}</p></div>
                                        <div class="full"><a href="mailto:{$config.5.config_value}">Email with us now!</a></div>
                                    </div>
                                </div>

                                <!-- quick facts -->
                                <div class="villa-facts" id="facts">
                                    <h2>Быстрые факты</h2>
                                    <div class="row">
                                        <div class="col">
                                            <div class="amenities">
                                                {volist name='detail.quick_facts' id='vo'}
                                                <div class="row">
                                                    <div class="col facheading">{$vo.quick_facts_name}</div>
                                                    <div class="col facdesc">{$vo.quick_facts_desc}</div>
                                                </div>    
                                                {/volist}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- layout -->
                                <div class="villa-layout" id="layout">
                                    <h2>Схема расположения</h2>
                                    <div class="img">
                                        <img src="/storage/{$detail.villas_blueprint}" data-src="/storage/{$detail.villas_blueprint}" alt="" class="lazyload">
                                    </div>
                                </div>

                                <!-- DINING -->
                                <div id="dining" class="villa-dining" style="display:none">
                                    <h2>Обед</h2>
                                    <div id="dinepix" class="col">
                                        <div class="slideshow4">
                                            <div class="owl">
                                                <div class="item"><img src="https://oimages.elitehavens.com/images/portals/rebrand/dining/dining1.jpg" alt="" class="lazyload"></div>
                                                <div class="item"><img src="https://oimages.elitehavens.com/images/portals/rebrand/dining/dining2.jpg" alt="" class="lazyload"></div>
                                                <div class="item"><img src="https://oimages.elitehavens.com/images/portals/rebrand/dining/dining3.jpg" alt="" class="lazyload"></div>
                                                <div class="item"><img src="https://oimages.elitehavens.com/images/portals/rebrand/dining/dining4.jpg" alt="" class="lazyload"></div>
                                                <div class="item"><img src="https://oimages.elitehavens.com/images/portals/rebrand/dining/dining5.jpg" alt="" class="lazyload"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="diningdesc" class="col">
                                        <p>1opipoipaisp</p>
                                    </div>
                                </div>
                            </div>


                            <!-- second column -->
                            <div class="col">
                                <div id="second" class="sticky" data-offset="10" style="z-index:99 !important;display:none">
                                    <div id="calendar"></div>
                                    <img src="/storage/{$detail.villas_price_image}" style="width:100%" />
                                    <script>
                                        var options = {
                                            width: '100%',
                                            height: '450px',
                                            language: 'EN',
                                            showLunarCalendar: false,
                                            showHoliday: false,
                                            showFestival: false,
                                            showLunarFestival: false,
                                            showSolarTerm: false,
                                            showMark: true,
                                            timeRange: {
                                                startYear: new Date().getFullYear(),
                                                endYear: new Date().getFullYear() + 1
                                            },
                                            mark: {$reserve|raw},
                                            theme: {
                                                changeAble: false,
                                                weeks: {
                                                    backgroundColor: '#FBEC9C',
                                                    fontColor: '#4A4A4A',
                                                    fontSize: '20px',
                                                },
                                                days: {
                                                    backgroundColor: '#ffffff',
                                                    fontColor: '#565555',
                                                    fontSize: '24px'
                                                },
                                                todaycolor: 'orange',
                                                activeSelectColor: 'orange',
                                            }
                                        }
                                        var myCalendar = new SimpleCalendar('#calendar', options);
                                    </script>
                                </div>
                            </div>

                            <div class="col" style="display:none">
                                <div id="rightprice">
                                    <form action="#" method="post" style="display:none">
                                        <input name="quick_txtArrivalDate" type="text" id="quick_txtArrivalDate"
                                            class="txtArrivalDate" readonly="readonly" />
                                        <input name="quick_txtDepartDate" type="text" id="quick_txtDepartDate"
                                            class="txtDepartDate" readonly="readonly" />
                                    </form>

                                    <div class="scroll-to"><a id="scrollbook"
                                            href="javascript:javascript:if($('#txtArrivalDate').val()==''){scroll(0, $('#rates').offset().top) } else {scroll(0, $('#send-enquiry .villadtls').offset().top-90);}"
                                            class="btn">Enquire now</a></div>
                                    <div href="#enquire" class="scroll-to button-toggle"><a
                                            href="javascript:javascript:if($('#txtArrivalDate').val()==''){scroll(0, $('#rates').offset().top);} else {scroll(0, $('#send-enquiry .villadtls').offset().top-30);}">Book
                                            now</a></div>
                                </div>
                            </div><!-- col -->
                        </div><!-- end ng row -->
                    </div><!-- end ng wrapper -->
                    <a id="scrollavail" class="btn invert" style="display:none"
                        onclick="javascript:$('#scrollavail').css('cssText', 'display:none!important');$('#second').css('cssText', 'display:block!important');ShowTopPrice();$('#ui-datepicker-div').css('cssText', 'display:none!important');">Check
                        Availability</a>
                </section>
                
                <div class="villa-tabs">
                    <section id="reviews" class="villa-reviews">
                        <div class="wrapper">
                            <h2>Отзывы</h2>
                            <div class="row">
                                <div class="col">
                                    <div class="slideshow3">
                                        <div class="owl">
                                            {volist name='detail.reviews' id='vo'}
                                            <div class="item">
                                                <p>{$vo.reviews_desc}</p>
                                                <span class="date">{$vo.reviews_time}</span>
                                                <span class="name">{$vo.reviews_name}</span>
                                            </div>
                                            {/volist}
                                        </div>
                                        <!-- <div class="viewall"><a target="_blank" href="/the-arsana-estate-villa/tabanan-bali-indonesia/reviews.aspx">View All Reviews (99)</a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- villa tabs -->


                <section id="options">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col">
                                <h2>Нужна больше вдохновения?</h2>
                                <p>Мы на вашей службе</p>
                            </div>
                        </div>
                    </div>

                    <div class="slideshow3">
                        <div class="owl">
                            {volist name='other_list' id='vo'}
                            <div class="item">
                                <div class="img">
                                    <span>
                                        <a href="/villas/detail.html?villas_id={$vo.villas_id}" title="{$vo.villas_name}">
                                            <img src="/storage/{$vo.villas_cover}" alt="{$vo.villas_name}" class='lazyload'>
                                        </a>
                                    </span>
                                </div>
                                <h3><span><a href="/villas/detail.html?villas_id={$vo.villas_id}" title="{$vo.villas_name}">{$vo.villas_name}</a></span></h3>
                                <div class="locations">
                                    <span>
                                        <a href="/villas/lists.html?villas_city={$vo.villas_city}" title="Seseh-Tanah Lot">{$vo.villas_city}</a>
                                    </span>
                                </div>

                                <div class="details">
                                    <div class="bedrooms">
                                        <img src="https://oimages.elitehavens.com/images/portals/rebrand/bed.svg" alt="bedrooms" class="beds" />
                                        <span>{$vo.villas_bedrooms_num} спальни</span>
                                    </div>
                                    <div class="bedrooms">
                                        <img src="https://oimages.elitehavens.com/images/portals/rebrand/adult.svg" alt="bedrooms" class="beds" />
                                        <span>{$vo.villas_adults_num} взрослых</span>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                        </div>
                    </div>

                </section>




                <div class="snippet">
                    <ol itemscope itemtype="https://schema.org/BreadcrumbList" style="float:left; color:#fff">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a itemprop="item" href="https://www.elitehavens.com" style="color:#fff">
                                <span itemprop="name">elitehavens.com</span></a>
                            <meta itemprop="position" content="1" />
                        </li>


                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
                            style="color:#fff; float:left">
                            <a itemprop="item" href="https://www.elitehavens.com/indonesia-private-villas/"
                                style="color:#fff">
                                <span itemprop="name">Индонезия</span></a>
                            <meta itemprop="position" content="2" />
                        </li>

                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
                            style="color:#fff; float:left">
                            <a itemprop="item" href="https://www.elitehavens.com/bali-rental-villas/bali-villas/"
                                style="color:#fff">
                                <span itemprop="name">Бали</span></a>
                            <meta itemprop="position" content="3" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
                            style="color:#fff; float:left">
                            <a itemprop="item"
                                href="https://www.elitehavens.com/tabanan-luxury-villas/bali-indonesia-villas/"
                                style="color:#fff">
                                <span itemprop="name">Табанан</span>
                                <meta itemprop="position" content="4" />
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
                            style="color:#fff; float:left">
                            <a itemprop="item"
                                href="https://www.elitehavens.com/the-arsana-estate-villa/tabanan-bali-indonesia.aspx"
                                style="color:#fff">
                                <span itemprop="name">Эрсанна</span>
                                <meta itemprop="position" content="5" />
                            </a>
                        </li>
                    </ol>
                </div>
            </article>
        </main>
        {include file="/inc-footer" /}
    </div>
    <div class="floatreserve" style="display:none">
        <div class="scroll-to"><a href="javascript:javascript:if($('#txtArrivalDate').val()==''){scroll(0, $('#rates').offset().top);} else {scroll(0, $('#send-enquiry .villadtls').offset().top-30);}">Забронировать</a></div>
    </div>
    <div class="top-arrow">Наверх</div>
    <script src='/js/modernizr.3-5-0.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/jquery-1.12.4.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/jquery-ui.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/lazysizes.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.bgset.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.respimg.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/ls.unveilhooks.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/owl.carousel.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/instafeed.min.js?v={$resource_version}' type='text/javascript'></script>
    <script src='/js/sticky-kit.min.js?v={$resource_version}' type='text/javascript'></script>
    <!--<script src='/js/parallax.min.js?v={$resource_version}' type='text/javascript'></script>-->
    <!--<script type='text/javascript' src='https://maps.google.cn/maps/api/js?key=AIzaSyAklKoiK6a0uPzUJGZPtvy1bI-za2b0O4U&region=TH&callback=Function.prototype'></script>-->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAklKoiK6a0uPzUJGZPtvy1bI-za2b0O4U&callback=console.debug&libraries=maps,marker&v=beta"></script>
    <script src='/js/site.js?v={$resource_version}' type='text/javascript'></script>
    <script>
        var dir = "";
        var coord = [{
            lat: {$detail.villas_location.0},
            long: {$detail.villas_location.1},
            info: ''
        }];
    </script>
</body>
</html>