<div class="layui-inline" style="margin-left:4px;">
    <select name="wheremap__{$prefix}_province_id" lay-filter="province">
        <option value="">省</option>
        {volist name=":region(1)" id="vo"}
        <option value="{$vo.region_id}" {if isset($value.province_id) && $value.province_id==$vo.region_id}selected{/if}>{$vo.region_name}</option>
        {/volist}
    </select>
</div>
<div class="layui-inline" style="margin-left:4px;">
    {if isset($value.city_id) && $value.city_id > 0}
    <select name="wheremap__{$prefix}_city_id" lay-filter="city">
        <option value="">市</option>
        {volist name=":region($value['province_id'])" id="vo"}
        <option value="{$vo.region_id}" {if isset($value.city_id) && $value.city_id==$vo.region_id}selected{/if}>{$vo.region_name}</option>
        {/volist}
    </select>
    {else /}
    <select name="wheremap__{$prefix}_city_id" lay-filter="city" disabled>
        <option value="">市</option>
    </select>
    {/if}
</div>
<script type="text/javascript">
layui.use(['form'],function() {
    var form  = layui.form;
    form.on('select(province)', function (res) {
        $.post("/admin2022.php/index/region", {region_pid:res.value}, function(resp){
            var html = '<option value="">市</option>'
            for(let i in resp){
                html += '<option value="'+resp[i].region_id+'">'+resp[i].region_name+'</option>';
            }
            $("select[name=wheremap__{$prefix}_city_id]").html(html).removeAttr("disabled");
            form.render();
        },'json');
    });
});
</script>