{php}
if ($value) {
    // 如果value不是json字符串，则格式化一下以兼容（比如原来用的textarea字段，现在改为了标签字段）
    if (!json_decode($value)) {
        $value = json_encode([$value]);
    }
} else {
    $value = '[]';
}
{/php}
<link rel="stylesheet" href="/static/inputTag/inputTag.css?222">
<div class="layui-form-item">
    <label class="layui-form-label">{if isset($require) && $require == true}<b style="color:#C00;margin-right:4px">*</b>{/if}{$title}</label>
    <div class="layui-input-block">
        <div class="fairy-tag-container"><input type="text" placeholder="输入后按回车添加" class="fairy-tag-input {$field}" autocomplete="off" value=""></div>
        <div id="{$field}"></div>
    </div>
</div>
<script>
    layui.config({
        base: '/static/inputTag/'
    }).use(['inputTag'], function () {
        var inputTag = layui.inputTag;
        inputTag.render({
            elem: '.{$field}',
            data: {$value|raw},
            theme: ['fairy-bg-blue'],
            onChange: function (data, value, type) {
                param_page.{$field} = JSON.stringify(data);
            }
        });
    })
</script>